@theme {
    --default-font-family: 'Inter';
    --color-primary-50: #ecfcff;
    --color-primary-100: #d4f7ff;
    --color-primary-200: #b2f2ff;
    --color-primary-300: #7dedff;
    --color-primary-400: #40deff;
    --color-primary-500: #14c3ff;
    --color-primary-600: #00a4ff;
    --color-primary-700: #008cff;
    --color-primary-800: #007ade;
    --color-primary-900: #085fa0;
    --color-primary-950: #0a3961;
}